/*  Created with HTML and CSS only
    This Css supports 4 Breakpoints
    -At 1200px (lg) (main breakpoint for desktop)
    -At 768px (md) (main breakpoint for tabs)
    -At 576px (sm) (main breakpoint for mobiles)
    -At 400px and At 320px (x-sm)
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f3f6;
}

/* HEADER Section */
.header {
  display: flex;
  background-color: rgba(40, 116, 240);
  padding: 5px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
/* section-1 logo and searchbox */
.sec-1 {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 55%;
  gap: 0.5rem;
}

.searchbox {
  display: flex;
}

.search-input {
  background-color: aliceblue;
  border: 0px none aliceblue;
  outline: none;
  width: 375px;
  font-size: 0.7em;
  padding: 0.3em;
  padding-left: 1em;
}
.searchbox:hover {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.search-btn {
  display: flex;
  background-color: aliceblue;
  border: 0px none aliceblue;
  padding: 0.5em;
  outline: none;
  cursor: pointer;
}
.search-btn > button {
  align-items: center;
}
/* section-1 logo and searchbox ends*/
/* section-2 login,more,cart buttons */
.sec-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 45%;
}

.btn {
  padding: 0.5em 2.5em;
  width: 8em;
  font-size: 0.7em;
  border: none;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn:hover {
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.btn:nth-child(1) {
  background-color: white;
  color: rgba(40, 116, 240);
}
.btn:nth-child(1):hover {
  background-color: #e2b00a;
  color: #ffffff;
}
.btn:nth-child(2),
.btn:nth-child(3),
.v-btn {
  background-color: rgba(40, 116, 240);
  color: white;
}
.btn:nth-child(2):hover,
.btn:nth-child(3):hover {
  background-color: #e2b00a;
}
.btn-f {
  display: flex;
  align-items: center;
  gap: 3px;
}
/* section-2 login,more,cart buttons */

.non-mobile-display{
  display: none;
}

/* HEADER Section Ends*/

/* Categories-Navbar Section */

/* Container of categories navbar */
.nav-category {
  display: flex;
  justify-content: space-around;
  overflow-y: auto;
  background-color: #fcfcfc;
  border-bottom: 0.5px solid rgb(222, 218, 218);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-category::-webkit-scrollbar {
  display: none;
}
/* Container of categories navbar ends*/

.nav-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: 1rem 3rem;
  gap: 3rem;
}
.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  transition: transform 0.4;
  cursor: pointer;
}
.nav-item:hover {
  transform: translateY(-2.5px);
}
.card-item:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.nav-item > img {
  height: 40px;
  width: 40px;
}
.nav-item > span {
  font-size: 12px;
}
/* Categories-Navbar Section Ends*/

/* Main section */
.main-container {
  max-width: 100vw;
  padding: 1rem 5rem;
  background-color: #eceaea;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.items-container,
.display-container {
  display: flex;
  height: 16.5rem;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-around;
}
.item-list,
.display-list {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 88%;
  gap: 10px;
  position: relative;

}
.display-list {
  width: 100%;
}
.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(216, 211, 211);
  padding: 0.5rem 0.5rem;
}
.item-header > span {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}
.card-container {
  display: flex;
  overflow-x: auto;
  padding-left: 4px;

}
/*To Hide Scrollbar */
.card-container::-webkit-scrollbar {
  display: none;
}
.card-list {
  display: flex;
  list-style-type: none;
  gap: 3px;
}
.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  height: 12rem;
  border-radius: 5px;
  border: 1px solid rgb(235, 232, 232);
  cursor: pointer;
}
.card-item > img {
  width: 7rem;
  height: 7rem;
  object-fit: scale-down;
  padding: 0.5rem;
}
.item-detail {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8em;
}

.item-detail > span {
  padding: 0.2rem 0;
}
.item-detail > span:nth-child(1) {
  font-weight: 600;
}
.item-detail > span:nth-child(2) {
  color: rgb(37, 125, 37);
}
.item-detail > span:nth-child(3) {
  color: rgb(98, 104, 98);
}

.main-txt {
  font-size: 1.3em;
  font-weight: 500;
}
.timer {
  display: flex;
    color: grey;
    gap: 3px;
}
.v-btn {
  padding: 1em 0.5em;
  width: 8em;
  align-self: end;
}
.banner {
  padding: 0.5em;
  background-color: #ffffff;
}
.banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-list {
  display: flex;
  gap: 10px;
}
.w-100 {
  max-width: 100%;
}
.mobile-btn > img {
  display: none;
}

/* Main section Ends*/

/* Dropdown component starts */

.dropdown{
  position: relative;
}
.dropdown-content{
  position: absolute;
  display: none;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  top: 105%;
  right: -78%;
}
.dropdown-item{
  display: block;
  color: #3f3f3f;
  padding: 10px 14px;
  text-decoration: none;
  border-bottom: 1px solid #3f3f3f;
}
.dropdown-item:last-child{
  border-bottom: 0;
}
.dropdown-item:hover{
  background-color: #e4e2de;
  color: #3f3f3f;
}
.dropdown:hover .dropdown-content{
  display: block;
}

/* Dropdown component ends */

/* scroll-arrow button starts */

.scroll-arrow{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color:white ;
  width: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: black;
  cursor: pointer;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border: .5px solid #aab0b6;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.scroll-arrow:hover{
  background-color: #e2b00a;
  color: #eceaea;
}

/* scroll-arrow button Ends */


/* Media-Queries For Desktops(lg) Screens*/

@media (max-width: 1200px) {
  .main-container {
    padding: 14px 60px;
    gap: 12px;
  }
  .item-list {
    width: 87%;
  }
  .mobile-btn > img {
    display: none;
  }
}
@media(min-width:1061px) and (max-width:1199px){
  .item-list {
    width: 83%;
  }

}
@media(min-width:993px) and (max-width:1060px){
  .sec-1{
    width: 65%;
  }
  .sec-2{
    justify-content: flex-end;
  }
   .logo{
    width: 135px;
    height: 35px;
  }
  .item-list {
    width: 80%;
  }
}
@media(min-width:932px) and (max-width:992px){
  .sec-1{
    width: 75%;
  }
  .sec-2{
    justify-content: flex-end;
  }
  .search-input{
    width: 360px;
  }
  .logo{
    width: 135px;
    height: 35px;
  }
   .item-list {
    width: 80%;
  }

}
@media(min-width:841px) and (max-width:932px){
  .search-input{
    width: 290px;
  }
  .logo{
    width: 135px;
    height: 35px;
  }
   .item-list {
    width: 80%;
  }
}
@media(min-width:769px) and (max-width:840px){
  .search-input{
    width: 250px;
  }
  .logo{
    width: 130px;
    height: 30px;
  }
   .item-list {
    width: 78%;
  }
  
}

/* Media-Queries For Desktops(lg) Screens Ends*/

/* Media-Queries For Tabs(md) Screens*/

@media (max-width: 768px) {
  .main-container {
    padding: 12px 42px;
    gap: 10px;
  }
  .search-input {
    width: 240px;
  }
  .logo > img {
    width: 130px;
    height: 32px;
  }
  .btn {
    padding: 0.5em 1.5em;
    width: 6em;
  }
  .v-btn {
    padding: 5px 5px;
  }
  .sec-1 {
    width: 60%;
  }
  .sec-2 {
    width: 40%;
  }
  .nav-item > img {
    height: 32px;
    width: 32px;
  }
  .nav-container {
    gap: 40px;
  }
  .item-list {
    width: 75%;
  }
  .display-list,
  .item-list {
    gap: 10px;
  }
  .main-txt {
    font-size: 20px;
  }
  .timer {
    font-size: 15px;
  }
  .card-item > img {
    width: 100px;
    height: 100px;
  }
  .card-item {
    gap: 8px;
  }
  .mobile-btn > img {
    display: none;
  }
  .dropdown-content{
    right: -106%;
    min-width: 112px;
  }
  .logo{
    width: 130px;
    height: 30px;
  }
}
@media(min-width:650px) and (max-width:700px){
  .search-input{
    width: 210px;
  }
  .logo{
    width: 125px;
    height: 30px;
  }
}
@media(min-width:621px) and (max-width:650px){
  .search-input{
    width: 195px;
  }
  .logo{
    width: 125px;
    height: 30px;
  }
}
@media(min-width:577px) and (max-width:620px){
  .sec-1{
    justify-content: flex-start;
  }
   .searchbox {
    display: none;
  }
  .logo{
    width: 125px;
    height: 30px;
  }
}

/* Media-Queries For Tabs(md) Screens Ends*/

/* Media-Queries For Mobiles(sm and x-sm) Screens*/

@media (max-width: 576px) {
  .logo {
     width: 125px;
    height: 30px;
  }
  .searchbox {
    display: none;
  }
  .sec-1 {
    padding-left: 15px;
    justify-content: flex-start;
  }
  .sec-2{
    justify-content: flex-end;
    gap: 0;
  }
  .nav-container {
    padding: 15px 50px;
    gap: 50px;
  }
  .nav-item > img {
    height: 60px;
    width: 60px;
  }
  .nav-item > span {
    font-size: 14px;
  }
  .main-container {
    padding: 4px 4px;
    gap: 5px;
  }
  .banner {
    display: none;
  }
  .item-list {
    width: 100%;
  }
  .card-container {
    padding: 4px;
  }

  .mobile-display-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-items: center;
    gap: 10px;
  }
  .mobile-card-item {
    width: 100%;
    height: 288px;
  }
  .mobile-card-item > img {
    width: 190px;
    height: 190px;
  }
  .mobile-height {
    height: auto;
  }

  .mobile-btn {
    border-radius: 100px;
    width: 33.6px;
  }
  .mobile-btn > img {
    display: inline-block;
    width: 16px;height: 16px;
  }
  .mobile-btn > span {
    display: none;
  }
  .mobile-display {
    display: none;
  }
  .mobile-display-ib{
    display: inline-block;
  }
  .mobile-img{
    width: 20px;
    height: 20px;
  }
  .btn:nth-child(1) {
    background-color: rgba(40, 116, 240);
}
.dropdown-content{
  min-width: 110px;
  right: -90%;
}
.dropdown-item{
  font-size: 10px;
}
}

@media (min-width:321px) and (max-width: 400px){
      .mobile-card-item {
        width: 100%;
        height: 270px;
    }
        .mobile-card-item > img {
        width: 165px;
        height: 165px;
    }
    .main-txt {
        font-size: 18px;
    }
    .dropdown-content{
  min-width: 85px;
}
}

@media (max-width: 320px){
  .mobile-display-container{
    gap: 3px;
  }
      .mobile-card-item {
        width: 100%;
        height: 240px;
    }
        .mobile-card-item > img {
        width: 140px;
        height: 140px;
    }
    .main-txt {
        font-size: 16px;
    }
        .dropdown-content {
        min-width: 75px;
    }
}

/* Media-Queries For Mobiles(sm and x-sm) Screens Ends*/
